= f.label :title
= f.text_field :title

= f.label :sub_title
= f.text_field :sub_title

= f.label :url
= f.text_field :url

= f.label :price
= f.text_field :price

= f.label :reduced_price
= f.text_field :reduced_price

