.page-header
  %h1 The Leaderboard

%h2 Todays best scores
%ol#today.leaderboard
  - @leaders_today.each_with_index do |round, i|
    %li{:class => "pos-#{i+1}"}
      .place= (i+1).ordinalize
      =render(round.user)
      .score= round.total_score

%h2 Olympic records
%ol#all-time.leaderboard
  - @leaders.each_with_index do |round, i|
    %li{:class => "pos-#{i+1}"}
      .place= (i+1).ordinalize
      =render(round.user)
      .score= round.total_score

%h2 By country
%ol#country.leaderboard
  - for i in 0..2
    %li{:class => "pos-#{i+1}"}
      .place= (i+1).ordinalize
      - if @country_scores.length > i
        .country= @country_scores.keys[i]
        .score= @country_scores[@country]
      - else
        = "No #{(i+1).ordinalize} place yet";