- content_for :before_content do
  %h1 The Leaderboard
  %p.description Challenge the best to WIN the overall Prize

%ol#leaderboard
  - @leaders.each_with_index do |round, i|
    %li{:class => "pos-#{i+1}"}
      .place= String(i+1) + '.'
      = render(round.user)
      .score= sprintf("%.2f", round.total_score)

#country_board
  %h2 Overall country leaderboard
  %ol
    %li.pos-2
      .country= image_tag "flags/#{@country_scores.keys[1] || 'none'}.png".downcase
      .place 2
    %li.pos-1
      .country= image_tag "flags/#{@country_scores.keys[0] || 'none'}.png".downcase
      .place 1
    %li.pos-3
      .country= image_tag "flags/#{@country_scores.keys[2] || 'none'}.png".downcase
      .place 3