- content_for :before_content do
  %h1 The Leaderboard
  %p.description Challenge the best to WIN the overall Prize

.win-header Win!
%ol#leaderboard
  - @leaders.each_with_index do |round, i|
    %li{:class => "pos-#{i+1}"}
      .place= String(i+1) + '.'
      = render(round.user)
      .score= sprintf("%.2f", round.total_score)

#country_board
  %h2 Overall country leaderboard
  %ol
    %li.pos-2
      .country
        - country = (@country_scores.keys[1] || 'none').downcase
        .name= t("countries.#{country}.name")
        = image_tag "flags/#{country}.png"
      .place 2
    %li.pos-1
      .country
        - country = (@country_scores.keys[0] || 'none').downcase
        .name= t("countries.#{country}.name")
        = image_tag "flags/#{country}.png"
      .place 1
    %li.pos-3
      .country
        - country = (@country_scores.keys[2] || 'none').downcase
        .name= t("countries.#{country}.name")
        = image_tag "flags/#{country}.png"
      .place 3