- content_for :before_content do
  %h1
    Congrats ~ You are ranked
    = @round.rank.ordinalize

  %p.description
    You're now in the draw to WIN GREAT PRIZES!
    %br
    PLUS... you've qualified for TODAY'S DEAL

.game
  #main-prize
    %h2 Main prize
    %p You're now in the running to WIN the Main Prize!
    %p= image_tag "main-prize.png"
  #todays-deal
    %h1 Today's deal
    

- content_for :button_area do
  %a.btn.btn-green{ :href => "#", :id => 'deal' } Grab today's deal
  %p.btn-aside
    YOU HAVE 3 CHANCES AT GETTING
    %br
    YOUR BEST SCORE! ~
    = link_to "PLAY AGAIN", games_path

- content_for :sidebar do
  %ul
    %li.twitter= link_to "TWEET YOUR SCORE", "http://twitter.com/share?url=geekgames.sitepoint.com&text=I am ranked #{@rank} on Geek Games at Sitepoint: "
    %li.facebook= link_to "UPDATE YOUR STATUS", "#"
    %li.email= link_to "EMAIL A FRIEND", "mailto:friend@gmail.com&content=I am ranked #{@rank} on Geek Games at Sitepoint: "
    %li
      %a#demo.btn.btn-blue{ :href => leaderboard_path } Leaderboard