- content_for :before_content do
  %h1
    Congrats ~ You are ranked
    = @round.rank.ordinalize

  %p.description
    You're now in the draw to WIN GREAT PRIZES!
    %br
    PLUS... you've qualified for TODAY'S DEAL

- if @deal.present?
  .game
    #deal-dialog.dialog
      %a{ :href => '#', :class => 'close', :id => 'close_deal' } &times;
      %h1= @deal.title
      .prizes
        %ul
          - @deal.prizes.each do |prize|
            %li
              %label
                %input{ type: 'radio', value: prize.url, name: "prize" }
                %b= prize.title
                %small= prize.sub_title
              .price= number_to_currency(prize.price)
              .reduced= number_to_currency(prize.reduced_price)
        %a{ href: "#", class: 'btn', id: 'buy-now', :target => '_blank' } BUY NOW + SAVE
      .deal-content
        %img{ height: '240', width: '410', src: @deal.image_url }
        %p= @deal.description

    #main-prize
      %h2 Main prize
      %p You're now in the running to WIN the Main Prize!
      %p= image_tag "main-prize.png"

    #todays-deal
      %h1 Today's deal
      %img{ height: '240', width: '410', src: @deal.image_url, :class => 'open-deal' }
      = link_to "View more", "#", :class => "btn btn-blue open-deal", :id => 'view-deal'

- content_for :button_area do
  %a.btn.btn-green{ :href => "#", :id => 'deal', :class => 'open-deal' } Grab today's deal
  %p.btn-aside
    YOU HAVE 3 CHANCES AT GETTING
    %br
    YOUR BEST SCORE! ~
    = link_to "PLAY AGAIN", games_path

- content_for :sidebar do
  %ul
    - if @deal.present?
      %li.time
        %b Deal ends in
        %br
        = time_until @deal.end_time
    %li.twitter= link_to "TWEET YOUR SCORE", "http://twitter.com/share?url=geekgames.sitepoint.com&text=I am ranked #{@rank} at http://games.sitepoint.com/ : ", :target => '_blank'
    %li.facebook= link_to "UPDATE YOUR STATUS", "https://www.facebook.com/dialog/feed?app_id=***REMOVED***&link=http://games.sitepoint.com/&picture=https://si0.twimg.com/client_application_images/566163/sp-logo-small.jpg&name=Geek%20Games&description=Join%20in%20the%20fun%20and%20compete%20with%20geeks,%20techies%20and%20web%20devs%20around%20the%20world%20as%20you%20play%203%20online%20games%20to%20WIN%20an%20iPad%20and%20MacBook%20Air,%20Amazon%20Kindles%20and%20qualify%20for%20DISCOUNTS%20of%20up%20to%20100%%20on%20SitePoint%20books%20and%20more.&redirect_uri=http://games.sitepoint.com/", :target => '_blank'
    %li.email= link_to "EMAIL A FRIEND", "mailto:?subject=I am ranked #{@rank} at http://games.sitepoint.com/"
    %li
      %a#demo.btn.btn-blue{ :href => leaderboard_path } Leaderboard
