.user
  .avatar
    = gravatar_image_tag(user.email, :alt => "")
  .name
    = user.username
  %small
    - if user.country?
      %div{ :class => "flag flag-#{user.country.downcase}"}
      = t("countries.#{user.country.downcase}.name")
    - else
      Unknown