<% content_for :before_content do %>
<%= devise_error_messages! %>
<h1>Change your password</h1>
<% end %>

<div class="bluey">
  <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f| %>
    <%= f.hidden_field :reset_password_token %>
    <%= f.label :password, "New password" %>
    <%= f.password_field :password %>

    <%= f.label :password_confirmation, "Confirm new password" %>
    <%= f.password_field :password_confirmation %>

    <div class="form-actions">
      <%= f.submit "Change my password", :class=>'btn' %>
    </div>
  <% end %>
  <%= render "links" %>
</div>