
%h1= @page.title

:markdown
  #{@page.body}

%a{ :href => games_path }
  = image_tag("screen.gif", :class => 'screen')
  = image_tag("dude.png", :class => 'dude')

- content_for :button_area do
  = link_to "Share on Twitter", "http://twitter.com/share?url=geekgam.es&text=Play+online+games+to+WIN+a+MacBook+Air%2C+iPad3+%2B+Kindles+in+the+http%3A%2F%2Fgeekgam.es", :target => '_blank', :class => 'twitter_home', :title => "Share on Twitter"
  = link_to "Share on Facebook", "https://www.facebook.com/dialog/feed?app_id=&link=http://games.sitepoint.com/&picture=https://si0.twimg.com/client_application_images/566163/sp-logo-small.jpg&name=Geek%20Games&description=Join%20in%20the%20fun%20and%20compete%20with%20geeks,%20techies%20and%20web%20devs%20around%20the%20world%20as%20you%20play%203%20online%20games%20to%20WIN%20an%20iPad%20and%20MacBook%20Air,%20Amazon%20Kindles%20and%20qualify%20for%20DISCOUNTS%20of%20up%20to%20100%%20on%20SitePoint%20books%20and%20more.&redirect_uri=http://games.sitepoint.com/", :target => '_blank', :class => 'facebook_home', :title => "Share on Facebook"
  = link_to "Play", games_path, :class => 'btn btn-orange'
  %p.btn-aside
    See who is at the top
    %br
    of the
    = link_to "Leaderboard", leaderboard_path
