
%h1= @page.title

:markdown
  #{@page.body}

= image_tag("screen.png", :class => 'screen')
= image_tag("dude.png", :class => 'dude')

- content_for :button_area do
  = link_to "Play", games_path, :class => 'btn btn-orange'
  %p.btn-aside
    See who is at the top
    %br
    of the
    = link_to "Leaderboard", leaderboard_path
