- @body_class = "game-#{@game.id}"

- content_for :before_content do
  %h1= @game.title
  .description
    :markdown
      #{@game.description}

#sidebar
  
  #score{:style => 'display:none'}
    %h2 Score
    #score_count 0
  #timer{:style => 'display:none'}
    %h2 Timer
    #timer_count 20.00

.game{ :id=> "game-#{@game.id}" }
  #instructions
    = image_tag "instructions-#{@game.id}.jpg"

  #message.dialog
    %h1 GOOD GAME!
    .btn-area
      %a.btn.btn-green{  :href => "#", :id => 'submit' }= (@game.id == 3) ? "Continue" : "Play the next game"
    %p
      %small
        %br
        %b hint:
        you can try to beat your score once you've played all 3 games

  #retry.dialog
    %h1 OOPS!
    %p You can't stray too far from the line and live to tell the story! Try again...
    .btn-area
      %a.btn.btn-green{  :href => "#", :id => 'retry' } Retry

  #countdown
  #canvas

- content_for :button_area do
  %a.btn.btn-orange{ :href => "#", :id => 'play' } Play
