- @body_class = "game-#{@game.id}"

- content_for :before_content do
  %h1= @game.title
  %p.description
    :markdown
      #{@game.description}

#sidebar
  
  #lives{:style => 'display:none'}
    %h2 Lives
    #lives_count

.game{ :id=> "game-#{@game.id}" }
  #instructions
    = image_tag "instructions-#{@game.id}.jpg"
  #message
    .close &times;
    %h1 Good game.
    %p You can compete three times a day for each sport.
    .btn-area
      %a.btn.btn-green{  :href => "#", :id => 'submit' } Continue
  #countdown
  #canvas

- content_for :button_area do
  %a.btn.btn-orange{ :href => "#", :id => 'play' } Play
