- @body_class = "game-#{@game.id}"

- content_for :before_content do
  %h1= @game.title
  .description
    :markdown
      #{@game.description}

#sidebar
  
  #score{:style => 'display:none'}
    %h2 Score
    #score_count 0

.game{ :id=> "game-#{@game.id}" }
  #instructions
    = image_tag "instructions-#{@game.id}.jpg"
    
  #message.dialog
    .close &times;
    %h1 Good game.
    %p You can compete three times a day for each sport.
    .btn-area
      %a.btn.btn-green{  :href => "#", :id => 'submit' } Continue
      
  #retry.dialog
    .close &times;
    %h1 Oops
    %p You can't stray too from the line and live to tell the story, please try again.
    .btn-area
      %a.btn.btn-green{  :href => "#", :id => 'retry' } Retry
  
  #countdown
  #canvas

- content_for :button_area do
  %a.btn.btn-orange{ :href => "#", :id => 'play' } Play
