- content_for :before_content do
  %h1 Sign in

.bluey
  = form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
    #auth
      = link_to "Sign in via Twitter", "/auth/twitter", :class => 'auth_twitter'
      = link_to "Sign in via Facebook", "/auth/facebook", :class => 'auth_facebook'

    .login
      = f.label :email
      = f.email_field :email

      = f.label :password
      = f.password_field :password

      .button-area
        = f.submit "Sign in",:class => 'btn'

  .links
    = render "links"