- content_for :before_content do
  %h1 Sign in

.sign_in
  = form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
    #auth
      = link_to "Sign in via Twitter", "#", :class => 'auth_twitter' #user_omniauth_authorize_path(:twitter)
      = link_to "Sign in via Facebook", "#", :class => 'auth_facebook' #user_omniauth_authorize_path(:facebook)

    .login
      = f.label :email
      = f.email_field :email

      = f.label :password
      = f.password_field :password

      .button-area
        = f.submit "Sign in",:class => 'btn'

  .links
    = render "links"