.page-header
  %h1 Users

= form_tag([:admin, :users], :method => "get") do
  = text_field_tag :search, params[:search], :placeholder => "Search"
  = submit_tag "Search", :class => 'btn'

%table.table.table-bordered.table-bordered
  %tr
    %th User
    %th Email
    %th 
  - users.each do |user|
    %tr
      %td
        .avatar
          = gravatar_image_tag(user.email, :alt => "")
        .name
          = user.username
        %small
          = user.country
      %td
        = user.email
      %td
        = link_to "Edit", edit_admin_user_path(user), :class => 'btn'

= will_paginate users, :renderer => BootstrapPagination::Rails