- content_for :before_content do
  %h1 Confirm your details

.bluey
  = form_for(current_user, :url => profile_path) do |f|
    
    - unless current_user.email.present?
      = f.label :email
      = f.text_field :email
    
    = f.label :username
    = f.text_field :username
  
    = f.label :country
    = country_selector(f)
  
    .button-area
      = f.submit :value => 'Save'