= f.label :title
= f.text_field :title

= f.label :description
= f.text_area :description, :rows => 4, :class => 'span7'

= f.label :image_url
= f.text_field :image_url, :class => 'span7'

= label_tag :end_time, "End time"

-# oh yes I did.
:css
  select { width: 120px; }

= f.datetime_select :end_time
