<!DOCTYPE html>
<!--[if IE 7 ]> <html lang="en" class="no-js ie ie7"> <![endif]-->
<!--[if IE 8 ]> <html lang="en" class="no-js ie ie8"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
<meta charset="utf-8">
<title>GeekGames</title>
<%= stylesheet_link_tag "admin", :media => "all" %>
<%= csrf_meta_tags %>
</head>
<body>
<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<a class="brand" href="/admin/">geekgames admin</a>
			<ul class="nav pull-left">
				<%- menu_items = ['dashboard', 'pages','games','deals','users','errors'] %>
				<%- menu_items.each do |page| %>
				<li<%= %( class="active").html_safe if menu == page %>><%= link_to page, [:admin, page] %></li>
				<%- end %>
			</ul>
			<% if user_signed_in? %>
			<ul class="nav pull-right">
				<li class="dropdown" id="profile">
					<a class="dropdown-toggle" data-toggle="dropdown" href="#profile"><%= gravatar_image_tag(current_user.email, :alt => "") %> <%= current_user.username %> <b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li<%= ' class="active"'.html_safe if menu == "profile" %>><%= link_to "Profile", profile_path %></li>
						<li><%= link_to "Update avatar", "https://en.gravatar.com/site/login/" %></li>
						<li class="divider"></li>
						<li><%= link_to "Sign out", destroy_user_session_path, :method=>'delete' %></li>
					</ul>
				</li>
			</ul>
			<% end %>
		</div>
	</div>
</div>
<div id="wrapper" class="container">
	<%= render :partial => 'flashes' %>
	<div id="content">
		<%= yield %>
	</div>
</div>
<%= javascript_include_tag "admin" %>
</body>
</html>
