<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>GeekGames</title>
<%= stylesheet_link_tag "application", :media => "all" %>
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<%= csrf_meta_tags %>
<script>
var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-30131-11']);
_gaq.push(['_trackPageview']);
(function() {
var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();
</script>
<!--[if IE]>
<%= javascript_include_tag "ie" %>
<![endif]-->
</head>
<body class="<%= controller.controller_name %> <%= @body_class %>">
<script>
google_conversion_id = 1071863924;
google_conversion_language = "en";
google_conversion_format = "3";
google_conversion_color = "ffffff";
google_conversion_label = "Z1h2CNbGvAMQ9LCN_wM";
google_conversion_value = 0;
</script>
<script src="http://www.googleadservices.com/pagead/conversion.js"></script>
<noscript>
<div style="display:inline;"><img height="1" width="1" style="border-style:none" alt="" src="http://www.googleadservices.com/pagead/conversion/1071863924/?value=0&amp;label=Z1h2CNbGvAMQ9LCN_wM&amp;guid=ON&amp;script=0"></div>
</noscript>
<div id="overlay"></div>
<div id="wrapper">
  <div id="header">
    <% if user_signed_in? %>
    <div class="drop-down" id="profile">
      <a class="trigger" href="#"><%= gravatar_image_tag(current_user.email, :alt => "") %> Hi <%= current_user.username %> <b class="caret"></b></a>
      <ul>
        <li<%= ' class="active"'.html_safe if menu == "profile" %>><%= link_to "Update profile", profile_path %></li>
        <li><%= link_to "Change avatar", "https://en.gravatar.com/site/login/" %></li>
        <li class="divider"></li>
        <li><%= link_to "Sign out", destroy_user_session_path, :method=>'delete' %></li>
      </ul>
    </div>
    <ul id="menu">
      <li class="home"><%= link_to "Home", home_path %></li>
      <li class="game1"><%= link_to "Mouseathalon", games_path %></li>
      <li class="game2"><%= link_to "Spammers", games_path %></li>
      <li class="game3"><%= link_to "PONG", games_path %></li>
      <li class="win"><%= link_to "Win!", win_path %></li>
    </ul>
    <% else %>
    <div id="profile">
      <a href="<%= new_user_session_path %>" class="btn btn-blue">Sign in</a>
      <a href="<%= new_user_registration_path %>" class="btn btn-green">Sign up</a>
    </div>
    <a id="logo" href="http://www.sitepoint.com/" target="_blank"><%= image_tag "logo.png" %></a>
    <ul id="menu">
      <li class="home <%='active' if menu == 'home' %>"><%= link_to t('home'), home_path %></li>
    </ul>
    <% end %>
  </div>
  <div id="middle">
    <%= render :partial => 'flashes' %>
    <div class="inner">
      <%= yield :before_content %>
      <% if content_for?(:sidebar) %>
      <div id="sidebar">
        <%= yield :sidebar %>
      </div>
      <% end %>
      <div id="content"<%= " class=\"max\"".html_safe unless content_for?(:sidebar) %>>
        <%= yield %>
      </div>
    </div>
  </div>
  <% if content_for?(:button_area) %>
  <div class="btn-area">
    <%= yield :button_area %>
  </div>
  <% end %>
  <ul id="footer">
    <li>&copy; Sitepoint 2012</li>
    <li><%= link_to "Leaderboard", leaderboard_path %></li>
    <li><%= link_to "Competition details", page_path('terms') %></li>
  </ul>
  <p id="sub-footer">
    <span id="new-relic">GeekGames is proudly sponsored by <a href="http://newrelic.com/geekgames?utm_source=SITE&utm_medium=banner_ad&utm_content=geekgames&utm_campaign=RPM&utm_term=mainsponsor&mpc=BA-SITE-RPM-en-100-geekgames-mainsponsor" target="_blank"><%= image_tag "new-relic-logo.png" %></a></span>
    <a href="http://www.sitepoint.com/" target="_blank"><%= image_tag "logo-small.png" %></a>
  </p>
</div>
<%= javascript_include_tag "application" %>
</body>
</html>
