<!DOCTYPE html>
<!--[if IE 7 ]> <html lang="en" class="no-js ie ie7"> <![endif]-->
<!--[if IE 8 ]> <html lang="en" class="no-js ie ie8"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <title>GeekGames</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <!--[if IE]>
  <%= stylesheet_link_tag "ie", :media => "all" %>
  <![endif]-->
  <%= csrf_meta_tags %>
</head>
<body class="<%= controller.controller_name %> <%= @body_class %>">
<div id="overlay"></div>
<div id="wrapper">
  <div id="header">
    <% if user_signed_in? %>
    <div class="drop-down" id="profile">
      <a class="trigger" href="#"><%= gravatar_image_tag(current_user.email, :alt => "") %> Hi <%= current_user.username %> <b class="caret"></b></a>
      <ul>
        <li<%= ' class="active"'.html_safe if menu == "profile" %>><%= link_to "Profile", profile_path %></li>
        <li><%= link_to "Update avatar", "https://en.gravatar.com/site/login/" %></li>
        <li class="divider"></li>
        <li><%= link_to "Sign out", destroy_user_session_path, :method=>'delete' %></li>
      </ul>
    </div>
    <ul id="menu">
      <li class="home"><%= link_to "Home", home_path %></li>
      <li class="game1"><%= link_to "Mouseathalon", games_path %></li>
      <li class="game2"><%= link_to "Spammers", games_path %></li>
      <li class="game3"><%= link_to "PONG", games_path %></li>
      <li class="win"><%= link_to "Win!", win_path %></li>
    </ul>
    <% else %>
    <a id="logo" href="http://www.sitepoint.com/"><%= image_tag "logo.png" %></a>
    <ul id="menu">
      <li class="home <%='active' if menu == 'home' %>"><%= link_to t('home'), home_path %></li>
    </ul>
    <% end %>
  </div>
  <div id="middle">
    <%= render :partial => 'flashes' %>
    <div class="inner">
      <%= yield :before_content %>
      <% if content_for?(:sidebar) %>
      <div id="sidebar">
        <%= yield :sidebar %>
      </div>
      <% end %>
      <div id="content"<%= "class=\"max\"".html_safe unless content_for?(:sidebar) %>>
        <%= yield %>
      </div>
    </div>
  </div>
  <% if content_for?(:button_area) %>
  <div class="btn-area">
    <%= yield :button_area %>
  </div>
  <% end %>
  <ul id="footer">
    <li>&copy; Sitepoint 2012</li>
    <li><%= link_to "Competition details", page_path('terms') %></li>
  </ul>
  <p id="sub-footer">
    <span id="new-relic">Geek Games brought to you by <a href="http://newrelic.com/"><%= image_tag "new-relic-logo.png" %></a></span>
    <a href="http://www.sitepoint.com/"><%= image_tag "logo-small.png" %></a>
  </p>
</div>
<%= javascript_include_tag "application" %>
</body>
</html>
